{{ partial "header.html" . }}

<body>
<div id="layout" class="pure-g">
<article class="pure-u-1">
{{ partial "brand.html" . }}
  {{ partial "content.header.html" . }}
  <section class="list-page">
  {{ range .Data.Pages.ByWeight }}
    <details open>
      <summary class="year">({{ len .Pages }})</summary>
      {{ range .Pages.ByWeight }}
        <ul>
          <li>
            <details open>
              <summary>({{ len .Pages }})</summary>
                {{ range .Pages }}
                  <ul>
                    <li>
                      <a href="{{ .RelPermalink }}">{{.Title}}</a>
                    </li>
                  </ul>
                {{ end }}
            </details>
          </li>
        </ul>
      {{ end }}
    </details>
    {{ end }}
  </section>
{{ partial "footer.html" . }}
</article>
</div>
</body>
</html>
