
.intro {
    background-color: #560BAD;
    text-align: center;
    color: white;
    padding: 20px;
  }
  
  .intro_button {
    background-color: skyblue;
    border: none;
    border-radius: 8px;
    padding: 8px;
  }
  
  .work {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .work_flex {
    display: flex;
    flex-direction: row wrap;
    margin: 10px;
  }
  
  .contribute {
    background-color: black;
    color: white;
    padding: 20px;
  }
  
  .contribute_title {
    text-align: center;
  }
  
  .contribute_flex {
    display: flex;
    flex-direction: row wrap;
  }