@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');

@import './ApiCall.css';
@import './Community.css';
@import './EventDetails.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1{
  font-size: 34px;
}

h2{
  font-size: 28px;
}

p{
  font-size: 20px;
}

* {
  box-sizing: border-box;
}
